/*----------------------------------Body----------------------------------*/
body { 
	color: black;
	font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	width: 960px;
	margin: 20px auto;
	background-image: url("../images/texturedbglight.png");
	background-attachment: fixed;
	background-color: #ffffff;
	background-repeat: inherit;
	font-family: Helvetica
}

/*----------------------------------Fonts----------------------------------*/
@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*---------------------------Images and Headings----------------------------*/
img {
border: 1px solid #4f2b00;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
h1 {
	font-size: 46px;
	font-family: 'bebas_neueregular', Arial, sans-serif;
	color: #cd6a00;
	text-decoration: none;
}
h2 {
	font-size: 28px;
	font-family: 'bebas_neueregular', Arial, sans-serif;
	color: #cd6a00;
}
h3 {
	font-size: 30px;
	font-family: 'bebas_neueregular', Arial, sans-serif;
	color:#4f2b00
}
h4 {
	color: #4f2b00;
}
h5 {
	color: #4f2b00;
}
h6 {
	font-size: 28px;
	font-family: 'bebas_neueregular', Arial, sans-serif;
	color: #f1e4d7;
}

/*----------------------------------Header----------------------------------*/
#header {
	background-image: url("../images/texturedbgmedium.png");
	color: black;
	height: 120px;
	margin: 0 auto;
	width: 1000px;
}
#header h1 {
	padding-top: 8px;
	padding-left: 8px;
	border: none;
	text-decoration: none;
}
#header form {
	float: right;
	margin-top: -60px;
	padding-right: 5px;
}
form p {
	display: block;
	padding: 0px;
	margin: 0px;
}
#login {
	float: right;
}
#mustlogin {
	margin-left: 70px;
}
.loginbutton {
  font-family: arial;
  color: #FFFFFF !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #DE8152;
  box-shadow: 1px 1px 1px #F9E5D4;
  padding: 5px 15px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border: 2px solid #B56219;
  background: #63B8EE;
  background: linear-gradient(top,  #CD6A00,  #B56222);
  background: -ms-linear-gradient(top,  #CD6A00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#CD6A00), to(#B56222));
  background: -moz-linear-gradient(top,  #CD6A00,  #B56222);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CD6A00', endColorstr='#B56222');
}
.loginbutton:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #F07C00,  #B56222);
  background: -ms-linear-gradient(top,  #F07C00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#F07C00), to(#B56222));
  background: -moz-linear-gradient(top,  #F07C00,  #B56222);
  cursor: hand;
  cursor: pointer;
}
#logoutbutton {
	clear: both;
	margin-top: 50px;
	margin-right: 10px;
}

/*----------------------------------Navigation----------------------------------*/
nav {
margin-left: -25px;
width: 1000px;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav li {
	float: left;
	margin: 5px;
	padding-left: 42px;
	height: 60px;
}
nav a {
	display: block;
	/*background: #ffcfa5;*/
	color: #4f2b00;
	font-family: 'bebas_neueregular', Arial, sans-serif;
	padding: 5px;
	text-decoration: none;
	text-align: center;
	font-size: 30px;
}
nav a:visited {
}
nav a:hover {
	color: #9b5800;
}
nav a:active {
	background:;
	color: #9b5800;
}
#selected{
	color: #9b5800;
}

/*----------------------------------Anchors----------------------------------*/
a{
color: #9b5800;
}
a:hover {
color: #4f2b00;
}
h1 a {
	color: #cd6a00;
	text-decoration: none;
	padding-left: 15px;
}
h2 a {
	color: #cd6a00;
	text-decoration: none;
}

/*----------------------------------Content: CTA----------------------------------*/
#content_wrapper {
margin-left: 50px;
}
#CTA {
	position: relative;
}
#minicta {
padding-top: 50px;
}
#column1img {
margin-top: 50px;
}
#column2img {
margin-top: 50px;
}
#column3img {
margin-top: 50px;
}
.ctabutton {
	position: absolute;
	left: 540px;
	top: 170px;
  font-family: 'bebas_neueregular', Arial, sans-serif;
  color: #FFFFFF !important;
  font-size: 36px;
  text-shadow: 1px 1px 0px #DE8152;
  box-shadow: 1px 1px 1px #F9E5D4;
  padding: 7px 60px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border: 2px solid #B56219;
  background: #63B8EE;
  background: linear-gradient(top,  #CD6A00,  #B56222);
  background: -ms-linear-gradient(top,  #CD6A00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#CD6A00), to(#B56222));
  background: -moz-linear-gradient(top,  #CD6A00,  #B56222);
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CD6A00', endColorstr='#B56222');
}
.ctabutton:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #F07C00,  #B56222);
  background: -ms-linear-gradient(top,  #F07C00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#F07C00), to(#B56222));
  background: -moz-linear-gradient(top,  #F07C00,  #B56222);
  cursor: hand;
  cursor: pointer;
  text-decoration: none;
}
.ctabutton a{
	text-decoration: none;
	color: #FFFFFF;
}
.ctabutton:hover a{
	text-decoration: none;
	color: #FFFFFF;
}

/*----------------------------------Buttons----------------------------------*/
.gallerybutton {
  clear: both;
  float: right;
  margin-right: 65px;
  font-family: 'bebas_neueregular', Arial, sans-serif;
  color: #FFFFFF !important;
  font-size: 36px;
  text-shadow: 1px 1px 0px #DE8152;
  box-shadow: 1px 1px 1px #F9E5D4;
  padding: 5px 60px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border: 2px solid #B56219;
  background: #63B8EE;
  background: linear-gradient(top,  #CD6A00,  #B56222);
  background: -ms-linear-gradient(top,  #CD6A00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#CD6A00), to(#B56222));
  background: -moz-linear-gradient(top,  #CD6A00,  #B56222);
  width: 200px;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CD6A00', endColorstr='#B56222');
}
.gallerybutton:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #F07C00,  #B56222);
  background: -ms-linear-gradient(top,  #F07C00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#F07C00), to(#B56222));
  background: -moz-linear-gradient(top,  #F07C00,  #B56222);
  cursor: hand;
  cursor: pointer;
}
.uploadbutton {
  margin-right: 65px;
  font-family: 'bebas_neueregular', Arial, sans-serif;
  color: #FFFFFF !important;
  font-size: 36px;
  text-shadow: 1px 1px 0px #DE8152;
  box-shadow: 1px 1px 1px #F9E5D4;
  padding: 5px 60px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border: 2px solid #B56219;
  background: #63B8EE;
  background: linear-gradient(top,  #CD6A00,  #B56222);
  background: -ms-linear-gradient(top,  #CD6A00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#CD6A00), to(#B56222));
  background: -moz-linear-gradient(top,  #CD6A00,  #B56222);
  width: 200px;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CD6A00', endColorstr='#B56222');
}
.uploadbutton:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #F07C00,  #B56222);
  background: -ms-linear-gradient(top,  #F07C00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#F07C00), to(#B56222));
  background: -moz-linear-gradient(top,  #F07C00,  #B56222);
  cursor: hand;
  cursor: pointer;
}
.contactbutton {
  clear: both;
  margin-top: -60px;
  float: right;
  margin-right: 100px;
  font-family: 'bebas_neueregular', Arial, sans-serif;
  color: #FFFFFF !important;
  font-size: 36px;
  text-shadow: 1px 1px 0px #DE8152;
  box-shadow: 1px 1px 1px #F9E5D4;
  padding: 5px 60px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border: 2px solid #B56219;
  background: #63B8EE;
  background: linear-gradient(top,  #CD6A00,  #B56222);
  background: -ms-linear-gradient(top,  #CD6A00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#CD6A00), to(#B56222));
  background: -moz-linear-gradient(top,  #CD6A00,  #B56222);
  width: 200px;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CD6A00', endColorstr='#B56222');
}
.contactbutton:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #F07C00,  #B56222);
  background: -ms-linear-gradient(top,  #F07C00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#F07C00), to(#B56222));
  background: -moz-linear-gradient(top,  #F07C00,  #B56222);
  cursor: hand;
  cursor: pointer;
}
.signupbutton {
  margin-top: -60px;
  float: right;
  margin-right: 100px;
  font-family: 'bebas_neueregular', Arial, sans-serif;
  color: #FFFFFF !important;
  font-size: 36px;
  text-shadow: 1px 1px 0px #DE8152;
  box-shadow: 1px 1px 1px #F9E5D4;
  padding: 5px 60px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border: 2px solid #B56219;
  background: #63B8EE;
  background: linear-gradient(top,  #CD6A00,  #B56222);
  background: -ms-linear-gradient(top,  #CD6A00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#CD6A00), to(#B56222));
  background: -moz-linear-gradient(top,  #CD6A00,  #B56222);
  width: 200px;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CD6A00', endColorstr='#B56222');
}
.signupbutton:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #F07C00,  #B56222);
  background: -ms-linear-gradient(top,  #F07C00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#F07C00), to(#B56222));
  background: -moz-linear-gradient(top,  #F07C00,  #B56222);
  cursor: hand;
  cursor: pointer;
}
.cartbutton:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #F07C00,  #B56222);
  background: -ms-linear-gradient(top,  #F07C00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#F07C00), to(#B56222));
  background: -moz-linear-gradient(top,  #F07C00,  #B56222);
  cursor: hand;
  cursor: pointer;
}
.gallerybutton a{
	text-decoration: none;
	color: #FFFFFF;
}
.gallerybutton:hover a{
	text-decoration: none;
	color: #FFFFFF;
}
#viewcart {
	clear: both;
	float: right;
	margin-right: 40px;
}

/*----------------------------------Content----------------------------------*/
.container {
clear: both;
width: 900px;  
margin: auto;
list-style-type: none;
}
.events_container {
width: 900px;  
margin: auto;
list-style-type: none;
margin-top: 50px;
}
.info_container {
clear: both;
width: 900px;  
margin-left: 10px;
list-style-type: none;
padding-top: 400px;
}
.gallery_container {
clear: both;
width: 900px;  
margin: auto;
list-style-type: none;
padding-top: 100px;
margin-top: 106px;
}
#imagegallery {
	margin-left: -10px;
}
#gallery-wrap{
margin-top: 75px;
overflow: hidden; 
width: 780px;
position: relative;
float: left;
}
#gallery{
position: relative; 
left: 0; 
top: 0;
}
#gallery li{
float: left; 
margin: 0 20px 15px 0;
}
#gallery li a img{
border: 3px solid #4f2b00; 
height: 160px; 
width: 160px;
}
#gallery-controls{
}
#gallery-controls img{
border: none;
}
#gallery-prev{
margin-left: 20px;
margin-top: 155px;
float: left;
}
#gallery-next{
margin-left: 20px;
margin-top: 155px;
float: left;
}
#admingallery {
	width: 800px;
}
#admingallery li{
float: left; 
margin: 0 20px 15px 0;
}
#admingallery li a img{
border: 3px solid #4f2b00; 
height: 160px; 
width: 160px;
}
.fb-like {
clear: both;
}
#facebook{
	clear: both;
	margin-left: 100px;
	margin-top: 250px;
}
.events_container img {
margin-top: 25px;
}
.info_container {
width: 900px;  
list-style-type: none;
}
#info_columns {
	clear: both;
	padding-top: 100px;
}
.rules_container {
	clear: both;
	margin-top: 300px;
}
.events_container img {
margin-top: 25px;
}
.contact_container {
width: 900px;  
margin: auto;
list-style-type: none;
padding-top: 100px;
}
ul li{
	font-weight: bold;
}
.left {
  float: left;
  width: 300px;
  margin-left: -10px;
}
.middle {
  top: 10px;
  margin-left: 300px;
  margin-right: 320px;
  width: 290px;
}
.middleAddress {
  top: 10px;
  margin-left: 300px;
  margin-right: 320px;
  margin-top: 60px;
  width: 300px;
}
.right {
  float: right;
  width: 285px;
}
.right_faq {
  float: right;
  width: 285px;
  margin-right: 50px;
}
.right img {
margin-right: 10px;
}
#map {
  float: left;
  width: 600px;
  margin-left: -10px;
}
#address {
	clear: both;
	float: right;
}
li {
	list-style-type: none;
	margin-left: -40px;
}
p.error {
	color: #ec5a33;
	padding-bottom: 50px;
	font-size: 15px;
}
p.light {
	color: #efe3d6;
}
p.signuperror {
	color: #ec5a33;
	margin-right: 20px;
	padding-bottom: 20px;
	font-size: 15px;
}
#contacterrors {
	float: right;
	margin-top: -300px;
	margin-right: 100px;
}
#errors {
	float: right;
}
#amenityinfocamping {
	float: left;
	width: 390px;
	margin-top: 50px;
}
#amenityinforacing {
	display: none;
	float: left;
	width: 390px;
	margin-top: 50px;
}
#amenityinfotrails {
	display: none;
	float: left;
	width: 390px;
	margin-top: 50px;
}
#amenityinfomudding {
	display: none;
	float: left;
	width: 390px;
	margin-top: 50px;
}
#amenitypicturesleft {
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	margin-top: 50px;
}
#amenitypicturesright {
	float: right;
	margin-right: 35px;
	margin-top: 10px;
	margin-top: 50px;
}
#photogallery {
	background-image: url("../images/texturedbgdark.png");
	width: 900px;
	height: 400px;
}
#thumbnails img {
margin: 5px;
}
#uploadform {
	margin-left: 55px;
}
#uploadform input{
	margin-bottom: 30px;
}
#rulesnav{
	float: left;
}
#rules h3{
margin-left: 100px;
margin-top: 50px;
}
#rulesnav li{
  font-family: arial;
  text-align: center;
  width: 210px;
  color: #FFFFFF !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #DE8152;
  box-shadow: 1px 1px 1px #F9E5D4;
  padding: 5px 15px;
  margin-top: 50px;
  border: 2px solid #B56219;
  background: #63B8EE;
  background: linear-gradient(top,  #CD6A00,  #B56222);
  background: -ms-linear-gradient(top,  #CD6A00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#CD6A00), to(#B56222));
  background: -moz-linear-gradient(top,  #CD6A00,  #B56222);
  margin-bottom: 20px;
  margin-left: 60px;
}
#rulesnav li:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #F07C00,  #B56222);
  background: -ms-linear-gradient(top,  #F07C00,  #B56222);
  background: -webkit-gradient(linear, left top, left bottom, from(#F07C00), to(#B56222));
  background: -moz-linear-gradient(top,  #F07C00,  #B56222);
  cursor: hand;
  cursor: pointer;
}
#rulestext {
	float: right;
	width: 400px;
	margin-right: 100px;
}
.waiverforms{
float: left;
width: 300px;
margin-left: 20px;
margin-top: 50px;
}
.racingforms {
float: right;
width: 300px;
margin-top: 50px;
}
#contactform {
	background-image: url("../images/texturedbgdark.png");
	width: 800px;
	height: 400px;
	padding-left: 100px;
	padding-top: 30px;
}
#signupform {
	width: 800px;
	height: 400px;
	padding-left: 100px;
	padding-top: 30px;
}
.newsletter {
	color: #f1e4d7;
}
textarea {
	resize: none;
}
.largeinput {
	width: 300px;
	height: 30px;
}
#pixel {
	border: none;
}	
#changingracing {
	display: none;
}
#changingracingclass {
	display: none;
}
#changingminors {
	display: none;
}
#changingmudbog {
	display: none;
}
#event_tickets {
	margin-top: 50px;
	background-image: url("../images/texturedbgdark.png");
	margin-right: 470px;
	margin-left: 15px;
	padding: 15px;
	padding-left: 80px;
	padding-top: 50px;
	padding-bottom: 50px;
}
#viewcart form {
padding-bottom: 30px;
}
#viewcart h4 {
padding-bottom: 100px;
}
#itempic {
clear: both;
	float: left;
}
#itemdesc {
margin-left: 50px;
	float: left;
	width: 670px;
}
#itemdesc form{
float: right;
padding-bottom: 50px;
}
.Hover {
border: 2px solid #CD6A00;
}
/*----------------------------------Footer----------------------------------*/
footer {
margin-top: 35px;
	padding: 20px;
	background-image: url("../images/texturedbgmedium.png");
	clear: both;
	width: 960px;
}
footer #icons {
	float: left;
	padding: 1px;
	padding-top: 50px;
}
footer ul {
	list-style: none;
}
footer a {
	display: block;
	float: left;
}
footer img {
padding: 10px;
border: none;
}
footer h2 {
	margin-left: 350px;
}
footer p {
	margin-left: 350px;
}
footer a {
	float:right;
}
footer #icons p{
clear: both;
float: left;
margin: 0;
padding: 0;
}
#copyright p {
color: #9f8f83;
}
/* -------------------------------Media Queries------------------------------- */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 

		h1{
    		color: blue;
    	}
}
	@media screen and (max-width: 380px) {

    	h1 {
    		font-size: 20px;
    		text-align: center;
    	}
    	body {
    		width: 350px;
    	}
    	#header{
    		height: 50px;
    	}
    	#login{
    		display: none;
    	}
    	#body {
    		margin: 0;
    	}
    	nav a {
			display: block;
			color: #4f2b00;
			font-family: Arial, sans-serif;
			padding: 2px;
			text-decoration: none;
			font-weight: normal;
			text-align: center;
			font-size: 15px;
		}
		#CTA img{
			width: 310px;
		}
		.ctabutton {
			display: none;
	 }
	
@media(min-device-width: 768px) and (max-device-width: 1024px) {

}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {
    html {zoom:0.8;}
}